@model IEnumerable<Contato>

@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />

<a class="btn btn-primary mb-3" asp-action="Create" accesskey="n">
    <i class="fa fa-plus"></i>
    <u>N</u>ovo
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contato contato in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => contato.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contato.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contato.Celular)
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Contato" asp-action="Edit" asp-route-id="@contato.Id">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-danger" asp-controller="Contato" asp-action="Delete" asp-route-id="@contato.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>